body {
  text-align: center;
}

.jumbotron {
  background-color: white;
}
.p-4 {
  width: 85%;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
}

.gradient {
  background: linear-gradient(221deg, #e44eff, #ffee00, #00d2ff, #cd4de4, #e4a74d, #fc2929);
  background-size: 1200% 1200%;

  -webkit-animation: BackgroundAnimation 30s ease infinite;
  -moz-animation: BackgroundAnimation 30s ease infinite;
  -o-animation: BackgroundAnimation 30s ease infinite;
  animation: BackgroundAnimation 30s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
   0%{background-position:9% 0%}
   50%{background-position:92% 100%}
   100%{background-position:9% 0%}
}
@-moz-keyframes BackgroundAnimation {
   0%{background-position:9% 0%}
   50%{background-position:92% 100%}
   100%{background-position:9% 0%}
}
@-o-keyframes BackgroundAnimation {
   0%{background-position:9% 0%}
   50%{background-position:92% 100%}
   100%{background-position:9% 0%}
}
@keyframes BackgroundAnimation {
   0%{background-position:9% 0%}
   50%{background-position:92% 100%}
   100%{background-position:9% 0%}
}
