body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: 'mononokiRegular';
   font-weight: normal;
   font-style: normal;
}

a {
   font-family: 'mononokiRegular';
   color: #000000;
}
