body {
   background-color: #000000;
   color: #FFFFFF;
   font-family: 'mononokiRegular';
   font-weight: normal;
   font-style: normal;
}

a {
   font-family: 'mononokiRegular';
   color: #FFFFFF;
}
